#lista_uni{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 2rem;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.nome_facolta{
  margin-left: 0;
  flex: 1 1 auto;
  width: 100%;
  text-align: center;
  border: 3px solid #ad343e; /*-- red--*/
  border-bottom-width: 0px;
  font-size: 2rem;
  font-family: 'philosopherregular';
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f2af29; /*--arancione--*/
}
.nome_facolta:last-child{
  border-bottom-width: 3px;
}

#link_facolta{
  text-decoration: none;
  color: #2d232e;
}
